@import "bootstrap/dist/css/bootstrap.min.css";
*{
    background-color: white;
}
body{
    background:white;
    display: grid;
    justify-content: center;
    padding: 10%;
    margin: 2%;
    text-align: center;
    border: 1px solid darkblue;
}

h3{
    color: teal;
    margin-bottom: 5%;
    font-size: xx-large;
    text-decoration: underline;

}
#myDomain{
    font-size: 150%;
    border: 1px solid teal;
    background-color: rgb(142, 226, 222);
}
